@import 'vars'

.boxPadding
  padding: 35px

.homeTop
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 42px
  &>div
    &:first-child
      width: 600px
    &:nth-child(2)
      overflow: hidden
      width: calc(100% - 640px)

.homeBottom
  display: grid
  grid-template-columns: repeat(3, minmax(0, 1fr))
  grid-gap: 42px
  .task
    border: none
    border-bottom: 1px solid #d4d9e3
    margin-bottom: 0
    &:last-child
      border-bottom: none

.redLabel
  background-color: $acc-red!important
  margin-left: 12px

.paddingHeader
  padding: 20px 30px
  border-bottom: 1px solid #d4d9e3

.labelsWrap
  display: flex
  align-items: center