.boxPadding
  padding: 35px

.homeTop
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &>div
    &:first-child
      width: 600px
    &:nth-child(2)
      overflow: hidden
      width: calc(100% - 640px)
