.usersTable
  width: 100%
  line-height: 1
  font-size: 20px
  th
    padding: 22px 15px 26px 35px
    color: #8492af
  td
    padding: 22px 15px 26px 35px
    font-weight: 500
  tbody
    background-color: #fff
    border: 1px solid #d4d9e3
    tr
      border-bottom: 1px solid #d4d9e3
      &:last-child
        border-bottom: none
    td
      border-right: 1px solid #d4d9e3
      &:last-child
        border-right: none